*.gif
*.traj
*.bck
log
*.pt
mnist_data/
data
*.png
*.out
*.pyc
*ipynb_checkpoints/
wandb/
guided_diffusion/
mnist/
ffp-output/
torchmd-net/
two-for-one-diffusion/
dig/
alphaflow/
.bashrc
*txt
*pdf
*vtu
*.npy
*pvd
train_diffusion_mb.py

# ignore test notebook
michael_testbed.ipynb
src/michael_testbed2.ipynb
src/model/checkpoints

# training scripts
src/train_script.sh

# vs code
.vscode/