*.gif
*.traj
log
*.pt
mnist_data/
data
*.png
*.pyc
*ipynb_checkpoints/
wandb/
guided_diffusion/
mnist/
ffp-output/
torchmd-net/
two-for-one-diffusion/

# ignore test notebook
michael_testbed.ipynb
src/michael_testbed2.ipynb
src/model/checkpoints

# vs code
.vscode/